<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dwross123.dayton.scourgeofzerack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScourgeOfZerack">
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.ScourgeOfZerack.NoActionBar">
        </activity>
        <activity
            android:name=".Grid"
            android:label="@string/title_activity_grid"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.ScourgeOfZerack.NoActionBar" >
            android:parentActivityName=".Main"
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name">
            android:parentActivityName=".Main"
        </activity>
    </application>

</manifest>